<%= bootstrap_form_with(model: student_profile, local: true) do |form| %>
  <% if student_profile.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(student_profile.errors.count, "error") %> prohibited this student_profile from being saved:</h2>

      <ul>
        <% student_profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :name, autofocus: true %>

  <%= form.fields_for :user do |user_form| %>
    <%= render 'users/registrations/user_fields', form: user_form, profile: student_profile %>
  <% end %>

  <div class="mt-4">
    <% if student_profile.persisted? %>
      <%= link_to 'Cancel', student_profile_path(student_profile), class: 'btn btn-cancel' %>
    <% end %>

    <%= form.submit class: 'btn btn-submit' %>
  </div>
<% end %>
