<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student_profile.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student_profile.user.email %>
</p>

<%= link_to 'Edit', edit_student_profile_path(@student_profile), class: 'btn btn-edit' %>
<%= link_to 'Back', student_profiles_path, class: 'btn btn-back' %>
