<h1>Change Password</h1>
<%= bootstrap_form_for(@user, as: :users, method: :patch, url: user_edit_password_path, local: true) do |form| %>
  <%= form.password_field :password, autocomplete: 'new-password' %>
  <%= form.password_field :password_confirmation, autocomplete: 'new-password' %>

  <%= form.password_field :current_password, autocomplete: 'current-password' %>

  <%= form.submit 'Update Email', class: 'btn btn-submit' %>
<% end %>