<!DOCTYPE html>
<html>
<head>
  <title>Learnables</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Learnables", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><%= link_to t('Courses'), courses_path, class: 'nav-link' %></li>
    </ul>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.profile.name %>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownProfile">
            <% if policy(current_user.profile).edit? %>
              <%= link_to 'Edit', edit_current_users_profile_path, class: 'dropdown-item' %>
            <% end %>
            <% if policy(:user).edit_email? %>
              <%= link_to 'Change Email', edit_email_path, class: 'dropdown-item' %>
            <% end %>
            <%= link_to 'Change Password', edit_password_path, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      <% else %>
        <li>
          <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<%= render 'layouts/application/toasts' %>

<% if content_for? :jumbotron %>
<div class="jumbotron main-jumbotron">
  <div class="container-xl">
  <%= yield :jumbotron %>
  </div>
</div>
<% end %>

<main role="main" class="container-xl">
  <%= yield %>
</main>
</body>
</html>
